<script>
  // Botão Voltar ao Topo
  var backToTopButton = document.getElementById("back-to-top");

  window.onscroll = function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      backToTopButton.style.display = "block";
    } else {
      backToTopButton.style.display = "none";
    }
  };

  backToTopButton.onclick = function() {
    document.body.scrollTop = 0; // Para Safari
    document.documentElement.scrollTop = 0; // Para Chrome, Firefox, IE e Opera
  };

  // Menu dropdown
  var menuToggle = document.getElementById("menu-toggle");
  var menu = document.getElementById("menu");

  if (menuToggle && menu) {
    menuToggle.onclick = function() {
      menu.classList.toggle("active");
      var expanded = menuToggle.getAttribute("aria-expanded") === "true" || false;
      menuToggle.setAttribute("aria-expanded", !expanded);
    };
  }

  // Esconder menu-toggle em telas grandes
  window.addEventListener('resize', function() {
    if (window.innerWidth > 768) {
      menuToggle.style.display = 'none';
      menu.classList.remove('active');
      menu.style.display = 'flex';
    } else {
      menuToggle.style.display = 'block';
      if (!menu.classList.contains('active')) {
        menu.style.display = 'none';
      }
    }
  });

  // Executar uma vez no carregamento da página
  if (window.innerWidth > 768) {
    menuToggle.style.display = 'none';
    menu.style.display = 'flex';
  } else {
    menuToggle.style.display = 'block';
    menu.style.display = 'none';
  }
</script>
