{% raw %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% for page in site.pages %}
        {% if page.title %}
          <a href="{{ page.url | relative_url }}" class="btn">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
<footer>
  <footer class="site-footer">
    <span class="site-footer-owner">Guia Interativo da Lei do MROSC</span>
    <span class="site-footer-credits">Desenvolvido para auxiliar na compreensão da Lei 13.019/2014.</span>
    <p>Para mais informações, entre em contato: <a href="mailto:seu-email@exemplo.com">seu-email@exemplo.com</a></p>
</footer>
  </body>
</html>
{% endraw %}
