<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guia Interativo da Lei do MROSC</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">Guia Interativo da Lei do MROSC</h1>
      <h2 class="project-tagline">Um recurso para entender o Marco Regulatório das Organizações da Sociedade Civil</h2>
      <a href="{{ '/' | relative_url }}" class="btn">Início</a>
      <a href="{{ '/planejamento' | relative_url }}" class="btn">Planejamento</a>
      <a href="{{ '/chamamento-publico' | relative_url }}" class="btn">Chamamento Público</a>
      <a href="{{ '/selecao-osc' | relative_url }}" class="btn">Seleção da OSC</a>
      <a href="{{ '/celebracao-parceria' | relative_url }}" class="btn">Celebração da Parceria</a>
      <a href="{{ '/execucao' | relative_url }}" class="btn">Execução</a>
      <a href="{{ '/monitoramento-avaliacao' | relative_url }}" class="btn">Monitoramento e Avaliação</a>
      <a href="{{ '/prestacao-contas' | relative_url }}" class="btn">Prestação de Contas</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer">
      <span class="site-footer-owner">Guia Interativo da Lei do MROSC</span>
      <span class="site-footer-credits">Desenvolvido para auxiliar na compreensão da Lei 13.019/2014.</span>
      <p>Para mais informações, entre em contato: <a href="mailto:seu-email@exemplo.com">seu-email@exemplo.com</a></p>
    </footer>
  </body>
</html>
